/* Navigation */
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body{
    background-color: #f5f5dc;
    font-family: consolas;
  }
  nav{
    margin-top: 10vw;
    height: 80px;
    width: 100%;
  }
  label.logo{
    color: black;
    font-size: 35px;
    line-height: 80px;
    margin-left: 20%;
  }
  nav ul{
    float: right;
    margin-right: 20%;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: black;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  a.active,a:hover{
    background: orange;
    transition: .5s;
  }
  .checkbtn{
    font-size: 30px;
    color: black;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media (max-width: 952px){
    label.logo{
      font-size: 35px;
      margin-left: 20%;
    }
   
    nav ul li a{
      font-size: 17px;
    }
  }
  @media (max-width: 1235px){
    .checkbtn{
      display: block;
      margin-right: 20%;
    }
    label.logo{
      font-size: 35px;
      margin-left: 20%; 
    }
    nav ul{
      margin-right: 0px;
      border-radius: 10px;
      position: fixed;
      width: 180px;
      height: 100vh;
      background: #695a42;
     
      right: -100%;
      text-align: center;
      transition: all .5s;
   
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: orange;
    }
    #check:checked ~ ul{
      right: 0;
    }
  }
  
/* Introduction */

  h1 {
    font-size: 45px;
    animation: 
        type 3s steps(15),
        animated-cursor 1000ms steps(15,end) infinite 3s;
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid orange;
    width:15ch;
    }
    @keyframes type{
        0%{
            width: 0ch;
        }
        100% {
            width:15ch;
        }
    }
    @keyframes animated-cursor{
        from{border-right-color: orange;}
        to{border-right-color: transparent;}
      }
      
.introduction{
    margin-top: 100px;
    margin-left: 20%;
    margin-right: 20%;
}

.description{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 50px;
}

.description-2{
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 40px;
}

@media (max-width: 530px){
  .introduction, .description, .description-2{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
  }

  label.logo{
    margin-left: 10%;
  }

  .checkbtn{
    margin-right: 10%;
  }
  
}



/* Projects */

.img-movegreen{
  margin-left: 20%;
  margin-top: 10%;
  
}

@media (max-width: 1235px){
  .img-movegreen{
    display: block;
   margin-left: auto;
   margin-right: auto;
  }
}

@media (max-width: 530px){
  .img-movegreen{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
  }
}

.project-movegreen{
  width: 23%;
  position: relative;
  text-align: right;
  float: right;
  left: 0px;
  margin-right: 20%;
  margin-top: 10%;
}

.movegreen{
  font-size: 45px;
  text-decoration: underline;
}

.movegreen-description{
  width: 100%;
  margin-top: 30px;
  font-size: 20px;
  line-height: 40px;
}

@media (max-width: 1235px){
  .project-movegreen{
    float: none;
    text-align: center;
    width: 45%;
    margin: 0 auto;
    bottom: 0px;
    left: 0px;
  }

  .movegreen{
    text-align: center;
    font-size: 45px;
    text-decoration: underline;
    margin-top: 30px;
    bottom: 0px;
    margin-right: 0px;
  }

  .movegreen-description{ 
    font-size: 20px;
    line-height: 40px;
    margin-top: 25px;
    bottom: 0px;
    left: 0px;
    width: 100%;
  }

}
